<section class="s-block s-block--slider-with-bg s-block--full-bg">

    {% set display_all = component.display_all_url_01  %}
    <div class="container -mt-62 relative overflow-hidden">
        <salla-products-slider
            {% if component.products|length %}
              source="selected" 
              source-value="[{{ component.products|map((product) => product.id)|join(',') }}]" 
            {% endif %}
            {% if display_all != '' and  display_all != '#' %}
                display-all-url_01="{{display_all}}" 
            {% endif %}
            block-title=" " 
            slider-id="slider-with-bg-{{ position }}"
        ></salla-products-slider>
    </div>

</section>
