body *:not(i) {
  font-family: 'Cairo' !important ;
}

/*Start [Enhanced Custome banner with category]*/
.enhances-custome-banner .banner-content {
  position: absolute;
  left: 12%;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width:992px) {
  .enhances-custome-banner .banner-content {
    width: 25rem;
  }
}
.enhances-custome-banner .banner-content > h3 {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}
.enhances-custome-banner .banner-content > p {
  color: var(--color-primary-l);
  line-height: 1.8;
  margin-bottom: 25px;
}
.enhances-custome-banner .banner-content .banner-btn-content > a {
  border: 1px solid transparent;
  background-size: 200%, 1px;
  font-size: 15px;
  border-radius: 30px;
  transition: 0.5s;
  padding: 0.5rem 2rem;
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-alt));
  color: white;
}
@media (max-width: 992px) {
  .enhances-custome-banner > .container a.banner.banner--fixed {
    min-height: 35vh;
    height: 35vh;
    display: inline-block;
  }
  .enhances-custome-banner .banner-content {
    width: 95%;
    left: 50%;
    padding: 15px 15px 35px 10px;
    border-radius: 15px;
    top: 65%;
    transform: translate(-50%, -50%);
    align-items: flex-end;
  }
  .enhances-custome-banner > .container a.banner.banner--fixed img {
    height: 100%;
  }
  .enhances-custome-banner .banner-content > h3 {
    margin-bottom: 30px;
    font-size: 22px;
  }
  .enhances-custome-banner .banner-content > p {
    display: none;
  }
}

/*[Start] enahnced banner cat*/
.enhanced-banner-grid .enhanced-item>div:nth-child(1) {
  width: 75%;
}
.enhanced-banner-grid .enhanced-item {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(149 157 165 / 10%) 0px 8px 16px;
}
.enhanced-banner-grid .enhanced-item>div:nth-child(1) img {
  transition: 0.5s;
}
.enhanced-banner-grid .enhanced-item>div:nth-child(1) img:hover {
  transform: scale(1.11);
}
.enhanced-banner-grid .enhanced-item > div:nth-child(2) > a {
  border: 1px solid var(--color-primary);
  padding: 0.2rem 1rem;
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-primary);
}
.enhanced-banner-grid .enhanced-item > div:nth-child(2) > h3 {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 18px;
}
.enhanced-banner-grid .enhanced-item > div:nth-child(2) > p {
  line-height: 1.6;
  font-size: 13px;
  color: #777;
}
@media (max-width: 767px) {
  .enhanced-banner-grid .enhanced-item>div:nth-child(1) {
    width: 50%;
  }
  .enhanced-banner-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/*[Start] enahnced banner cat*/
/*End [Enhanced Custome banner with category]*/

/* Start [Enhanced banner title] */
.enhanced-banner-title {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 26px;
  position: relative;
}
.enhanced-banner-title::before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 5px;
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-alt));
  border-radius: 10px;
  z-index: 2;
}
.enhanced-banner-title::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  height: 1px;
  background: linear-gradient(45deg, var(--color-primary), var(--color-primary-alt));
  border-radius: 10px;
  z-index: 1;
}
.enhanced-banner-title > h3 {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 1.8rem;
  padding-bottom: 7px;
}
@media (max-width: 767px) {
  .enhanced-banner-title > h3 {
    font-size: 1.4rem;
  }
}
.enhanced-banner-title > p {
  color: #777;
  line-height: 1.7;
  font-size: 12px;
}
@media (max-width: 992px) {
  .enhanced-banner-title > p {
    padding: 0px 15px;
  }
}
/* End [Enhanced banner title] */

/*Start [Edits Product Card]*/
.s-product-card-entry {
  border-radius: 20px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.s-product-card-image {
  height: 15rem !important;
  max-height: 15rem;
  background-color: white;
  border-radius: 20px 20px 0px 0px;
}
button.s-button-btn[product-type="product"] {
  background-color: var(--color-primary);
  color: var(--color-grey);
  border: 0px !important;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*End [Edits Product Card]*/


/* Start [Irtiqa Grid Section] */
.irtiqa-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}
@media (max-width: 992px) {
  .irtiqa-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 7px;
  }
}
.irtiqa-grid > div:nth-child(1) {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  justify-content: center;
}
.irtiqa-grid-item {
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #ddd;
  flex-direction: column;
}
@media (max-width: 992px) {
  .irtiqa-grid-item {
    padding-bottom: 7.3rem;
  }
}
.irtiqa-grid-item > div:first-child img {
  transition: 0.5s;
}
.irtiqa-grid-item:hover > div:first-child img {
  transform: scale(0.9) rotate(-2deg) translate(-10px, -10px);
  margin-right: auto;
  margin-bottom: auto;
}
.enhanced-cat-title {
  position: absolute;
  bottom: 0;
}
.enhanced-cat-title h3 {
  color: var(--color-primary);
  font-weight: bold ;
  padding: 8px;
}
.irtiqa-grid-item .irtqia-grid-item-content {
  position: absolute;
  bottom: -100%;
  transition: 0.5s;
  background-color: #f3f3f3;
  width: 100%;
  padding: 10px 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media (max-width: 992px) {
  .irtiqa-grid-item .irtqia-grid-item-content {
    bottom: 0;
    text-align: center;
    padding: 10px;
  }
  .enhanced-cat-title {
    display: none;
  }
}
.irtiqa-grid-item:hover .irtqia-grid-item-content {
  bottom: 0;
}
.irtqia-grid-item-content>h3 {
  font-weight: bold;
  color: var(--color-primary);
  font-size: 17px;
  line-height: 2;
}
.irtiqa-grid-item .irtqia-grid-item-content p {
  line-height: 1.5;
  font-size: 13px;
  color: var(--color-primary-l);
}
a.enhanced-cat-btn {
  background: var(--color-primary);
  color: white;
  padding: 4px 20px;
  margin-top: 8px;
  border-radius: 10px;
}
/* End [Irtiqa Grid Section] */
