body * {
  background-color: red !important ;
}
.enhanced-banner-grid .enhanced-item>div:nth-child(1) {
    width: 50%;
}
.enhanced-banner-grid .enhanced-item {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(149 157 165 / 10%) 0px 8px 16px;
}
.enhanced-banner-grid .enhanced-item>div:nth-child(1) img {
    transition: 0.5s;
}
.enhanced-banner-grid .enhanced-item>div:nth-child(1) img:hover {
    transform: scale(1.11);
}
.enhanced-banner-grid .enhanced-item > div:nth-child(2) > a {
    background: #2e6bc6;
    color: #eee;
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    border-radius: 10px;
    width: 76%;
}
.enhanced-banner-grid .enhanced-item > div:nth-child(2) > p {
    line-height: 1.6;
    font-size: 14px;
    color: #777;
}
@media (max-width: 992px) {
  .enhanced-banner-grid .enhanced-item>div:nth-child(1) {
    width: 50%;
}
  .enhanced-banner-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
